@font-face {
  font-family: 'bigjohn';
  src: url(../assets/Font/BigJohnPRO-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'bigjohn';
  src: url(../assets/Font/BigJohnPRO-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'bigjohn';
  src: url(../assets/Font/BigJohnPRO-Bold.otf);
  font-weight: 700;
}