// @font-face {
//   font-family: 'bigjohn';
//   src: url(../assets/Font/BigJohnPRO-Regular.otf);
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'bigjohn';
//   src: url(../assets/Font/BigJohnPRO-Light.otf);
//   font-weight: 100;
// }
// @font-face {
//   font-family: 'bigjohn';
//   src: url(../assets/Font/BigJohnPRO-Bold.otf);
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'agane';
//   src: url(../assets/Font/Agane45.ttf);
//   font-weight: 100;
// }
// @font-face {
//   font-family: 'agane';
//   src: url(../assets/Font/Agane55.ttf);
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'agane';
//   src: url(../assets/Font/Agane65.ttf);
//   font-weight: 500;
// }
// @font-face {
//   font-family: 'agane';
//   src: url(../assets/Font/Agane75.ttf);
//   font-weight: 700;
// }


@font-face {
  font-family: 'Solena';
  src: url(../assets/Font/Solena-Regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-Thin.woff2);
  font-weight: 100;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-ExtraLight.woff2);
  font-weight: 200;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-SemiBold.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-Bold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-ExtraBold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'akrobat';
  src: url(../assets/Font/Akrobat-Black.woff2);
  font-weight: 800;
}