@use "sass:math";

@import "../../../styles/styles";

.barContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: calc(100vh - 50px);
  left: 150px;
  transform-origin: top left;
  transform: rotate(180deg);
}

.bar {
  width: 150px;
  min-height: 2px;
  background: $sealk;
  margin: 2px 0;
  animation: barBlink 10s infinite, barBlinkColor 10s infinite;
}

@keyframes barBlink {
  from,
  to {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  34%,
  36% {
    opacity: 1;
  }
}

@keyframes barBlinkColor {
  from,
  to {
    background: $sealk;
  }
  35%,
  45% {
    background: $pinky;
  }
  34%,
  46% {
    background: $sealk;
  }
}
